<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
  table td {
  border: 1px black solid;
  width: 100px;
  height: 100px;
  max-height: 100px;
  }

  img {
  width: 100%;
  }
</style>
<body>
  <div id="app">
    {{ message }}
    <table>
      <tr>
        <td v-on:click="clickSquare(1)">
          <img v-if="marks[1] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[1] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(2)">
          <img v-if="marks[2] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[2] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(3)">
          <img v-if="marks[3] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[3] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
      </tr>
      <tr>
        <td v-on:click="clickSquare(4)">
          <img v-if="marks[4] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[4] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(5)">
          <img v-if="marks[5] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[5] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(6)">
          <img v-if="marks[6] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[6] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
      </tr>
      <tr>
        <td v-on:click="clickSquare(7)">
          <img v-if="marks[7] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[7] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(8)">
          <img v-if="marks[8] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[8] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
        <td v-on:click="clickSquare(9)">
          <img v-if="marks[9] === 'x'" src="https://bit.ly/2anumXQ" alt="x">
          <img v-if="marks[9] === 'o'" src="https://bit.ly/2Oi3MqP" alt="o">
        </td>
      </tr>
    </table>
    <button v-on:click="resetBoard">RESET</button>
  </div>
  <script src="tic-tac-toe.js"></script>
</body>
</html>
